@font-face {
    font-family: 'Darumadrop One', cursive;
    src: url('/2021-2023Projects/candyland/assets/fonts/Darumadrop_One/DarumadropOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('/2021-2023Projects/candyland/assets/fonts/Darumadrop_One/DarumadropOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titan One';
    src: url('/2021-2023Projects/candyland/assets/fonts/Titan_One/TitanOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('/2021-2023Projects/candyland/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}